

:root{
    --green-color: rgb(75, 201, 96);
    --white-color: #f8f9fa;
    --background-color: #d3ded6;
}

.footer-copyright-section{
    /* position: absolute;
    bottom: 0; */
    /* width: 100vw; */
    padding:5px 0;
    border-top: 1px solid grey;
}
/* .footer-section{
    position: absolute;
    bottom: 0%;
    width: 100vw;
} */

.heading-bottom-border{
    border-bottom: 4px solid var(--green-color);
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: 0.1s;
    animation: ease-in-out;
}

.heading-bottom-border:hover{
    transform: scale(1.1);
}

.more-data{
    color: var(--green-color);
    font-weight: 700;
    font-size: large;
}

.more-data:hover{
    color: green;
}

.card{    
    box-shadow: 0 0 5px 2px rgb(211, 210, 210);
    transition: 0.1s;
    animation: ease-in-out;
}

.card:hover{
    transform: scale(1.1);
}
.card:hover img{
    filter: brightness(0.9);
  
}

.visibility-sidebar{
   display: none;
}

.about-page{
    width: 80% !important;
    }

.contact-page{
    width: 80% !important;
}

@media only screen and (max-width:1200px) {
    .heading-bottom-border{
        font-size: 2.1rem;
        border-bottom: 2px solid var(--green-color);
    }
}
@media only screen and (max-width:992px) {
    .heading-bottom-border{
        font-size: 1.5rem;
        border-bottom: 2px solid var(--green-color);
    }
    .add-details-section{
        width: 60vw !important;
    }

    .register-section{
        width: 60vw !important;
    }
}

@media only screen and (max-width:768px){
    .add-details-section{
        width: 80vw !important;
    }

    .register-section{
        width: 80vw !important;
    }
}

@media only screen and (max-width:576px){

    .navbar-logo{
        width: 200px;
    }

    .footer-copyright-section>div {
        font-size: 10px !important;
    }

    .add-details-section{
        width: 100vw !important;
    }

    .register-section{
        width: 100vw !important;
    }

    .primary1{
        padding: 3px !important;
        font-size: 12px !important;
    }


}
