.nav-pills>li{
    margin: 2%;
}

.nav-pills>li:hover{
    background-color: #05C46B;
    color: white;
}

.text-color{
    color: black;
    text-decoration: none;
    font-size: larger;
}

.text-color:hover{
    color: white;
}

.rank-box, .course-box, .college-box{
    font-size: 60px;
}

@media only screen and (max-width:768px){
    .add-qualification-details{
        width: 100% !important;
    }

    .add-prefernece-details{
        width: 100% !important;
    }

    .rank-box, .course-box, .college-box{
        font-size: 2rem !important;
       
    }

}

@media only screen and (max-width:576px){
    .box{
        width: 100% !important;
        margin: 1rem 0 !important;
    }

    .dashboard-home-section{
        display: flex !important;
        justify-content: flex-start !important;
        align-items: center !important;
        flex-direction: column !important;
        
    }
}
