.course-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.course-section-row2{
    display: flex;
    justify-content: space-center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.course-section-row3{
    margin-left: 2.5rem;
    align-self: flex-start;
}