.features-section {
  width: 100%;
  position: relative;
}
.features-section-img {
  height: 60vh;
  background-image: url("../../images/first-section-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  filter: brightness(0.3);
  opacity: 0.8;
}

.features-section-data {
  position: absolute;
  top: 30%;
  text-align: center;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.features-section-data-card {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features-section-data-card:hover .features-section-data-logo {
  background-color: var(--white-color);
  color: var(--green-color);
}

.features-section-data-logo {
  width: 30%;
  border-radius: 50%;
  background-color: var(--green-color);
  color: var(--white-color);
  font-size: 2.5rem;

  padding-bottom: 3%;
}

@media only screen and (max-width: 1024px) {
  .features-section-data-card {
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .features-section-data-logo {
    width: 20%;
    font-size: 2.5rem;
  }
  .features-section-img {
    height: 90vh;
  }
}

@media only screen and (max-width: 756px){
  .features-section-img {
    height: 100vh;
  }
}

@media only screen and (max-width: 576px) {

    .features-section-data{
        top: 10%;
    }

  .features-section-data-card {
    flex: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20vw;
  }
  .features-section-data-logo {
    width: 13vw;
    font-size: 2.5rem;
  }
  .features-section-img {
    height: 140vh;
  }
}

