
.first-section{
    height: 100vh;
    background-image: url("../../images/first-section-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    opacity: 0.8;
    z-index: 1;
    
}

.first-section-info-box{
    width: 50vw;
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
}

.first-section-info-box>h2{
    padding: 10px 15px 10px 15px;
    font-size: 5rem;
    color: white;
    margin: 0;
    background-color: var(--green-color);
    width: 90%;
}

.first-section-info-box>p{
    padding: 10px 15px 10px 15px;
    background-color: var(--white-color);
}

.registration-btn{
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: var(--green-color);
    color: var(--white-color);
    margin-right: 15px;
    text-decoration: none;
    border-radius: 5px;
}

.registration-btn:hover{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 1024px){
    
    .first-section-info-box{
        position: absolute;
        top: 35%;
        left: 10%;
    }
    
    .first-section-info-box>h2{
        padding: 8px 13px 8px 13px;
        font-size: 4rem;
    }
    
}

@media only screen and (max-width: 992px){
    
    .first-section-info-box>h2{
        padding: 8px 13px 8px 13px;
        font-size: 3.5rem;
    }

    .first-section-info-box>p{
        width: 60vw;
      }

    .registration-btn{
        padding: 8px;
        font-size: 1rem;
    }
    
}

@media only screen and (max-width: 768px){
    
    .first-section-info-box{
        width: 70vw;
        position: absolute;
        top: 30%;
        left: 20%;
        z-index: 2;
    }
    
    .first-section-info-box>h2{
       
        font-size: 4rem;
        color: white;
        margin: 0;
        background-color: var(--green-color);
        width: 90%;
    }
    
}

@media only screen and (max-width: 576px){

    .first-section-info-box{
        height: 100px;
    }

    .first-section-info-box>h2{
        width: 65vw;
    }

    .first-section-info-box>p{
        width: 65vw;
    }
    .registration-btn2{
        position: relative;
        top: 40%;
        right: 43%;
    }
}
