
.site-navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    z-index: 999;
}
.site-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo{
    flex: 40%;
    align-content: center;
}
.navbar-right{
    flex: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}

.navbar-link{
    text-decoration: none;
    color:black;
    font-size: 1rem;
    font-weight: 400;
    padding:10px 0;
    margin: 0 10px;
    height: 100%;
}

.navbar-right-logo{
    visibility: hidden;
    color: var(--green-color);
}

.navbar-link:hover{
    color:var(--green-color);
}

.navbar-link:hover .navbar-right-logo{
    visibility: visible;
}

.navbar-active-link{
    color:var(--green-color);
}

.navbar-login{
    text-decoration: none;
    background-color: var(--green-color);
    color: white;
    position: absolute;
    width: 10vw;
    top: 10%;
    right: 1%;
    z-index: 3;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.navbar-login:hover{
    color: var(--green-color);
    background-color: white;
}

.navbar-profile{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    cursor: pointer;
}
.navbar-profile:hover{
    color: var(--green-color);
}

.navbar-right-login-profile:hover .navbar-login{
    display: block;
}

.navbar-right-toggler{
    color: black;
    font-size: 20px;
    position: absolute;
    visibility: hidden;
    top: 0%;
    right: 3%;
}
.navbar-right-toggler:hover{
    cursor: pointer;
    color: var(--green-color);
}

@media only screen and (max-width:992px) {
    .navbar-link{
        margin: 0 5px;
        padding: 5px 0;
        font-size: 12px;
    }
    .navbar-profile{
        font-size: 15px;
        margin-left: 15px;
    }
    .navbar-login{
        top: 9%;
    }
}

@media only screen and (max-width: 768px){
    .navbar-right-toggler{
        visibility: visible;
    
    }
    
    .site-navbar{
        flex-direction: column;
        height: auto;
    }

    .navbar-logo{
        flex: 100%;
        width: 100%;
        padding: 5px 0;
    }
    .navbar-right{
        flex: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
    }
    .navbar-right>div{
        text-align: center;
        width: 100%;
    }
    .navbar-login{
        position: relative;
        z-index: 3;
        padding: 0 5px;
        text-align: center;
        font-weight: bold;
        display: none;
        width: 100%;
        height: auto;
    }

}


/* @media only screen and (max-width: 800px){
    .navbar-right{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        background-color: rgb(202, 200, 200);
        width: 100%;
        
    }
    .navbar-profile{
        display: none;
    }
    .navbar-right>div>.navbar-link{
        color: rgb(20, 20, 20);
    }

} */
